<div class="bg-secondary bg-gradient" style="min-height: 100vh;">
    <div class="container-fluid d-flex justify-content-between bg-white p-3 border">
        <h3>Employee CRUD</h3>
        <button class="btn btn-success" type="button">New</button>
    </div>
    <div class="container bg-white p-4 mt-4 rounded mx-auto">
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Actions</th>
                <th>Emp ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
              <tr scope = "row" *ngFor="let employee of employees">
                <td width="250px;">
                  <button class="btn btn-primary" type="button" (onclick)="openModalCenter(modalCenter, 'New Form', 0)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>              
                  </button>
                  <span>&nbsp;&nbsp;</span>
                  <button class="btn btn-danger" type="button" (onclick)="openModalCenter(modalCenter, 'Edit Form', 1)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
                <td>{{employee.empid}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.dob | date:'dd/MM/yyyy'}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.position}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <ng-template #modalCenter let-modal>
        <div class="modal-header" [ngClass]="[colorTheme]">
            <h5 class="modal-title" id="exampleModalLabel">{{modal.arialabel}}</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form ngNativeValidate #employeeForm="ngForm">
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="username" class="col-form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="employee.username" required minlength="2" #username="ngModel">
                <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" class="error">
                  <div *ngIf="username.errors?.['required']" class="error-messages">
                    Username is required
                  </div>
                  <div *ngIf="username.errors?.['minlength']" class="error-messages">
                    Username Minimum Length is {{username.errors?.['minlength']?.requiredLength}}
                  </div>
                </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="empId" class="col-form-label">Emp ID</label>
                <input type="text" class="form-control" id="empId" name="empId" pattern="[0-9]+" minlength="4"
                  (keypress)="onlyNumber($event)" (paste)="onPastenumeric($event)" [(ngModel)]="employee.empid" #empId="ngModel" required>
                <div *ngIf="!empId?.valid && (empId?.dirty || empId?.touched)" class="error">
                  <div *ngIf="empId.errors?.['required']" class="error-messages">
                    EmpId is required
                  </div>
                  <div *ngIf="empId.errors?.['minlength']" class="error-messages">
                    EmpId Minimum Length is {{empId.errors?.['minlength']?.requiredLength}}
                  </div>
                </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="email" class="col-form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="employee.email" required email
                #email="ngModel">
                <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
                  <div *ngIf="email.errors?.['required']" class="error-messages">Email is required</div>
                  <div *ngIf="email.errors?.['email']" class="error-messages">Email is invalid</div>
                </div>
              </div>
              <div class="form-group col pl-1">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                  <input
                    id="dateOfBirth"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    ngbDatepicker
                    #dp="ngbDatepicker"
                    [(ngModel)]="employee.dob"
                  />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
                </div>
                <!-- <span class="mandatory" *ngIf="true">*&nbsp;</span> -->
                <!-- <label for="dob" class="col-form-label">Date Of Birth</label>
                  <div class="input-group-prepend" [owlDateTimeTrigger]="dtDob">
                    <input 
                    type="text"
                    name="dob"
                    [(ngModel)]="content.dateOfBirth"
                    style="background-color: white;"
                    class="form-control"
                    [owlDateTimeTrigger]="dtDob"
                    [owlDateTime]="dtDob"
                    [max]="maxDate"
                    [min]="minDate"
                    #selectedDob="ngModel"
                    (selectionchange)="onChangeDob($event)"
                    (ngModelChange)="onChangeDob($event)"
                    readonly
                  />
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                  <owl-date-time #dtDob></owl-date-time>
                  <div *ngIf="selectedDob.invalid">
                    Invalid Date Time Format. It should be like this: 2024-02-19 12:15PM
                </div>
                <div *ngIf="selectedDob.errors?.['owlDateTimeParse']">
                  Invalid Owl Date Time Parse Error.
                </div>
                <div *ngIf="selectedDob.invalid && selectedDob.errors?.['owlDateTimeMax']">
                  Date Time value must before {{maxDate  | date: 'medium'}}
              </div> -->
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory" *ngIf="true">*&nbsp;</span>
                <label for="position" class="col-form-label">Position</label>
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{employee.position == null ? "" : employee.position}}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngFor="let position of positions">
                    <button ngbDropdownItem [(ngModel)]="employee.position">{{position.value}}</button>
                  </div>
                </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory" *ngIf="true">*&nbsp;</span>
                <div class="col-form-label">Gender</div>
                <div class="form-check" *ngFor="let gender of genders">
                  <label class="form-check-label" for="gender_{{gender.id}}">
                    <input class="form-check-input" id="gender_{{gender.id}}" [value]='gender.value' type="radio" name="genders" [(ngModel)]="employee.gender" required>
                    {{gender.value}}
                  </label>
                </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="hobbies" class="col-form-label">Hobbies</label>
                <div *ngFor="let hobby of hobbies">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="hobbies" [value]="hobby.value" (change)="onChangeHobbies($event)" />{{hobby.value}}
                  </div>
                </div>
                <div *ngIf="!globalAtLeastOneChecked() && ntnChkboxErrorMsg" class="error-messages">
                  Please select at least one country.
                </div>
              </div>
              <div class="form-group col pl-1">
                <label for="address" class="col-form-label">Address</label>
                <textarea class="form-control" id="address" name="address" [(ngModel)]="employee.address"></textarea>
              </div>
              <!-- <div class="form-group col pl-1">
                <label class="col-form-label">Attachments</label>
                <ngx-dropzone (change)="onUploadSuccess($event)" [compress]="true" [maxFileSize]="5000000" [multiple]="true">
                  <ngx-dropzone-label><i class="fas fa-paperclip"></i>Drop any files! (Max 5MB)</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" (click)="saveEmployee(modalCenter)" [ngClass]="[colorTheme]"
            >Save <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#modalCenter" (click)="modal.close('Close click')">Cancel</button>
          </div>
    </ng-template>
</div>

