<div class="bg-secondary bg-gradient" style="min-height: 100vh;">
    <div class="container-fluid d-flex justify-content-between bg-white p-3 border">
        <h3>Employee CRUD</h3>
        <button class="btn btn-success" type="button">New</button>
    </div>
    <div class="container bg-white p-4 mt-4 rounded mx-auto">
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Actions</th>
                <th>Emp ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
              <tr scope = "row" *ngFor="let employee of employees">
                <td width="250px;">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-pencil" aria-hidden="true"></i>              
                  </button>
                  <span>&nbsp;&nbsp;</span>
                  <button class="btn btn-danger" type="button">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
                <td>{{employee.empid}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.dob | date:'dd/MM/yyyy'}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.position}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <ng-template #modalCenter let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Customer Info</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form ngNativeValidate #custInfoForm="ngForm">
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="mx-name" class="col-form-label">Customer Name</label>
                <input type="text" class="form-control" id="mx-name" name="mx-name" [(ngModel)]="content.mxName" required minlength="2" #customerName="ngModel">
                <div *ngIf="!customerName?.valid && (customerName?.dirty || customerName?.touched)" class="error">
                  <div *ngIf="customerName.errors?.['required']" class="error-messages">
                    Customer Name is required
                  </div>
                  <div *ngIf="customerName.errors?.['minlength']" class="error-messages">
                    Customer Name Minimum Length is {{customerName.errors?.['minlength']?.requiredLength}}
                  </div>
                </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="mx-id-no" class="col-form-label">Id Number</label>
                <input type="text" class="form-control" id="mx-id-no" name="mx-id-no" [maxLength]="bankaccountlength" pattern="[0-9]+" minlength="4"
                  (keypress)="onlyNumber($event)" (paste)="onPastenumeric($event)" [(ngModel)]="content.mxIdNo" #idNo="ngModel" required>
                <div *ngIf="!idNo?.valid && (idNo?.dirty || idNo?.touched)" class="error">
                  <div *ngIf="idNo.errors?.['required']" class="error-messages">
                    ID Number is required
                  </div>
                  <div *ngIf="idNo.errors?.['minlength']" class="error-messages">
                    ID Number Minimum Length is {{idNo.errors?.['minlength']?.requiredLength}}
                  </div>
                </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="mx-email" class="col-form-label">Email</label>
                <input type="text" class="form-control" id="mx-email" name="mx-email" [(ngModel)]="content.mxEmail" required email
                #email="ngModel">
                <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
                  <div *ngIf="email.errors?.['required']" class="error-messages">Email is required</div>
                  <div *ngIf="email.errors?.['email']" class="error-messages">Email is invalid</div>
                </div>
              </div>
              <div class="form-group col pl-1">
                <!-- <span class="mandatory" *ngIf="true">*&nbsp;</span> -->
                <label for="mx-dob" class="col-form-label">Date Of Birth</label>
                  <div class="input-group-prepend" [owlDateTimeTrigger]="dtDob">
                    <input 
                    type="text"
                    name="mx-dob"
                    [(ngModel)]="content.dateOfBirth"
                    style="background-color: white;"
                    class="form-control"
                    [owlDateTimeTrigger]="dtDob"
                    [owlDateTime]="dtDob"
                    [max]="maxDate"
                    [min]="minDate"
                    #selectedDob="ngModel"
                    (selectionchange)="onChangeDob($event)"
                    (ngModelChange)="onChangeDob($event)"
                    readonly
                  />
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                  <owl-date-time #dtDob></owl-date-time>
                  <div *ngIf="selectedDob.invalid">
                    Invalid Date Time Format. It should be like this: 2024-02-19 12:15PM
                </div>
                <div *ngIf="selectedDob.errors?.['owlDateTimeParse']">
                  Invalid Owl Date Time Parse Error.
                </div>
                <div *ngIf="selectedDob.invalid && selectedDob.errors?.['owlDateTimeMax']">
                  Date Time value must before {{maxDate  | date: 'medium'}}
              </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory" *ngIf="true">*&nbsp;</span>
                <label for="mx-joined" class="col-form-label">Joined Date</label>
                  <div class="input-group-prepend" [owlDateTimeTrigger]="dtJoined">
                    <input 
                    type="text"
                    name="mx-joined"
                    [(ngModel)]="content.joinedDate"
                    style="background-color: white;"
                    class="form-control"
                    [owlDateTimeTrigger]="dtJoined"
                    [owlDateTime]="dtJoined"
                    [max]="this.content.leaveDate !== null && this.content.leaveDate !== undefined ? this.content.leaveDate : maxDate"
                    [min]="minDate"
                    #selectedDtJoined="ngModel"
                    (selectionchange)="onChangeDob($event)"
                    (ngModelChange)="onChangeDob($event)"
                    readonly
                    required
                  />
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                  <owl-date-time #dtJoined></owl-date-time>
                  <div *ngIf="selectedDtJoined.invalid && (selectedDtJoined?.dirty || selectedDtJoined?.touched)">
                    Invalid Date Time Format. It should be like this: 2024-02-19 12:15PM
                </div>
                <div *ngIf="selectedDtJoined.errors?.['owlDateTimeParse']">
                  Invalid Owl Date Time Parse Error.
                </div>
                <div *ngIf="selectedDtJoined.invalid && selectedDtJoined.errors?.['owlDateTimeMax']">
                  Date Time value must before {{maxDate  | date: 'medium'}}
              </div>
              </div>
              <div class="form-group col pl-1">
                <!-- <span class="mandatory" *ngIf="true">*&nbsp;</span> -->
                <label for="mx-leave" class="col-form-label">Leave Date</label>
                  <div class="input-group-prepend" [owlDateTimeTrigger]="dtLeave">
                    <input 
                    type="text"
                    name="mx-leave"
                    [(ngModel)]="content.leaveDate"
                    style="background-color: white;"
                    class="form-control"
                    [owlDateTimeTrigger]="dtLeave"
                    [owlDateTime]="dtLeave"
                    [max]="maxDate"
                    [min]="this.content.joinedDate !== null && this.content.joinedDate !== undefined ? this.content.joinedDate : minDate"
                    #selectedDtLeave="ngModel"
                    (selectionchange)="onChangeDob($event)"
                    (ngModelChange)="onChangeDob($event)"
                    readonly
                  />
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                  <owl-date-time #dtLeave></owl-date-time>
                  <div *ngIf="selectedDtLeave.invalid">
                    Invalid Date Time Format. It should be like this: 2024-02-19 12:15PM
                </div>
                <div *ngIf="selectedDtLeave.errors?.['owlDateTimeParse']">
                  Invalid Owl Date Time Parse Error.
                </div>
                <div *ngIf="selectedDtLeave.invalid && selectedDtLeave.errors?.['owlDateTimeMax']">
                  Date Time value must before {{maxDate  | date: 'medium'}}
              </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory" *ngIf="true">*&nbsp;</span>
                <label for="mx-country" class="col-form-label">Country</label>
                <ng-select placeholder="Select Country" [items]="countryList" bindLabel="name" bindValue="code"
                  name="mx-country" id="mx-country" [(ngModel)]="content.mxCountry" (change)="onChangeMxCountry($event)" required>
                </ng-select>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory" *ngIf="true">*&nbsp;</span>
                 <label for="mx-citizen" class="col-form-label">Citizenship</label>
                <!--<ng-select placeholder="Select Citizenship" [items]="citizenshipList" bindLabel="name" bindValue="code"
                  name="mx-citizen" id="mx-citizen" [(ngModel)]="content.mxCitizen"
                  (change)="onChangeMxCitizenship($event)">
                </ng-select> -->
                <div class="form-check">
                  <input class="form-check-input" id="local-citizen" type="radio" name="mx-citizen" value="LCL" [(ngModel)]="content.mxCitizen" [checked]="content.mxCitizen === 'LCL'" #citizen="ngModel" required>
                  <label class="form-check-label">
                    Local
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="other-citizen" type="radio" name="mx-citizen" value="OTH" [(ngModel)]="content.mxCitizen" #citizen="ngModel" required>
                  <label class="form-check-label">
                    Other
                  </label>
                </div>
              </div>
              <div class="form-group col pl-1">
                <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
                <label for="mx-nationality" class="col-form-label">Nationality</label>
                <div *ngFor="let nationality of countryList">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="mx-nationality" [value]="nationality.name" (change)="onChangeNationality($event)" [checked]="globalIfChecked(nationality.name)" />{{nationality.name + " (" + nationality.code + ")"}}
                  </div>
                </div>
                <div *ngIf="!globalAtLeastOneChecked() && ntnChkboxErrorMsg" class="error-messages">
                  Please select at least one country.
                </div>
              </div>
              <div class="form-group col pl-1">
                <label class="col-form-label">Attachments</label>
                <ngx-dropzone (change)="onUploadSuccess($event)" [compress]="true" [maxFileSize]="5000000" [multiple]="true">
                  <ngx-dropzone-label><i class="fas fa-paperclip"></i>Drop any files! (Max 5MB)</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#modalCenter" (click)="closeModal(modalCenter)">Close</button>
            <button type="button" class="btn btn-primary" (click)="openDialog(addrTempModal)" 
            >Next <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
            </button>
          </div>
    </ng-template>
</div>

