<div class="bg-secondary bg-gradient" style="min-height: 100vh;">
    <div class="container-fluid d-flex justify-content-between bg-white p-3 border">
        <h3>Employee CRUD</h3>
        <button class="btn btn-success" type="button" (click)="openModalCenter(modalCenter, 'New Form', 0, undefined)">New</button>
    </div>
    <div class="container bg-white p-4 mt-4 rounded mx-auto">
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Actions</th>
                <th>Emp ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
              <tr scope = "row" *ngFor="let employee of employees">
                <td width="250px;">
                  <button class="btn btn-primary" type="button" (click)="openModalCenter(modalCenter, 'Edit Form', 1, employee)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>              
                  </button>
                  <span>&nbsp;&nbsp;</span>
                  <button class="btn btn-danger" type="button" (click)="deleteEmployee(employee)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
                <td>{{employee.empid}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.dob | date:'dd/MM/yyyy'}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.position}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <ng-template #modalCenter let-modal>
        <div class="modal-header" [ngClass]="[colorTheme[selectedColorTheme].theme, colorTheme[selectedColorTheme].text]">
            <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
            <button [ngClass]="[colorTheme[selectedColorTheme].btnTheme]" type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form ngNativeValidate #employeeForm="ngForm">
              <div class="row">
                <div class="form-group col pl-1">
                  <!-- <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span> -->
                  <label for="username" class="col-form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" 
                  [(ngModel)]="employee.username" required minlength="2" #usernameRef="ngModel">
                  <div *ngIf="!usernameRef?.valid && (usernameRef?.dirty || usernameRef?.touched)" class="error">
                    <div *ngIf="usernameRef.errors?.['required']" class="error-messages invalid-feedback">
                      Username is required
                    </div>
                    <div *ngIf="usernameRef.errors?.['minlength']" class="error-messages invalid-feedback">
                      Username Minimum Length is {{usernameRef.errors?.['minlength']?.requiredLength}}
                    </div>
                  </div>
                </div>

                <div class="form-group col pl-1">
                  <!-- <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span> -->
                  <label for="empId" class="col-form-label">Emp ID</label>
                  <input type="text" class="form-control" id="empId" name="empId" pattern="[0-9]+" minlength="4"
                    (keypress)="onlyNumber($event)" (paste)="onPastenumeric($event)" [(ngModel)]="employee.empid" #empId="ngModel" required>
                  <div *ngIf="!empId?.valid && (empId?.dirty || empId?.touched)" class="error">
                    <div *ngIf="empId.errors?.['required']" class="error-messages">
                      EmpId is required
                    </div>
                    <div *ngIf="empId.errors?.['minlength']" class="error-messages invalid-feedback">
                      EmpId Minimum Length is {{empId.errors?.['minlength']?.requiredLength}}
                    </div>
                  </div>
                </div>

                <div class="form-group col pl-1">
                  <!-- <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span> -->
                  <label for="email" class="col-form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" [(ngModel)]="employee.email" required email
                  #email="ngModel">
                  <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error"> <!-- dirty = change value, touched = clicked-->
                    <div *ngIf="email.errors?.['required']" class="error-messages invalid-feedback">Email is required</div>
                    <div *ngIf="email.errors?.['email']" class="error-messages invalid-feedback">Email is invalid</div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="form-group col pl-1">
                  <label for="dateOfBirth" class="col-form-label">Date of birth</label>
                  <div class="input-group">
                    <input id="dateOfBirth" class="form-control" type="date"
                    name="dateOfBirth"
                    [value]="employee.dob"
                    (ngModelChange)="employee.dob = $event"
                    [ngModel]="employee.dob | date:'yyyy-MM-dd'" />
                    <!-- <input
                      id="dateOfBirth"
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="dateOfBirth"
                      ngbDatepicker
                      #dateOfBirth="ngbDatepicker"
                      [(ngModel)]="employee.dob"
                      [value]="employee.dob!!"
                      (ngModelChange)="employee.dob!!"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dateOfBirth.toggle()" type="button">
                      <i class="fa fa-calendar" aria-hidden="true"></i>{{employee.dob}}
                    </button> -->
                  </div>
                </div>

                <div class="form-group col pl-1">
                  <!-- <span class="mandatory" *ngIf="true">*&nbsp;</span> -->
                  <label for="position" class="col-form-label">Position</label>
                  <!-- <div ngbDropdown class="d-inline-block"> -->
                    <!-- <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" name="position" ngbDropdownToggle>
                      {{employee.position == null ? "" : employee.position}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngFor="let position of positions">
                      <button ngbDropdownItem (click)="setPosition(position.value!!)">{{position.value}}</button>
                    </div> -->
                    <div class="dropdown bg-white">
                      <a class="btn btn-white dropdown-toggle form-control border border-grey" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{employee.position || "&nbsp;"}}
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <li *ngFor="let position of positions">
                          <button class="border-0 w-100 dropdown-item" (click)="setPosition(position.value!!)">{{position.value}}</button>
                        </li>
                      </ul>
                    </div>
                  <!-- </div> -->
                </div>
                <div class="form-group col pl-1"></div>
              </div>
              
              <div class="row">
                <div class="form-group col pl-1">
                  <div class="col-form-label">
                    <!-- <span class="mandatory" *ngIf="true">*&nbsp;</span> -->
                    Gender</div>
                  <div class="form-check form-check-inline" *ngFor="let gender of genders">
                    <label class="form-check-label" for="gender_{{gender.id}}">
                      <input class="form-check-input" id="gender_{{gender.id}}" [value]='gender.id' type="radio" name="gender_{{gender.id}}" [(ngModel)]="employee.gender" [checked]="(employee.gender | uppercase) === gender.id ? true : false" required>
                      {{gender.value}}
                    </label>
                  </div>
                </div>
                <div class="form-group col pl-1">
                  <!-- <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span> -->
                  <div>
                    <label for="hobbies" class="col-form-label block">Hobbies</label>
                  </div>
                  <div class="form-check form-check-inline" *ngFor="let hobby of hobbies">
                      <input class="form-check-input" type="checkbox" name="hobbies" [value]="hobby.id" (change)="onChangeHobbies($event)" [checked]="employee.hobbies !== undefined && employee.hobbies!!.includes(hobby.id!!) ? true : false"/>{{hobby.value}}
                  </div>
                  <div *ngIf="!globalAtLeastOneChecked() && ntnChkboxErrorMsg" class="error-messages invalid-feedback">
                    Please select at least one country.
                  </div>
                </div>
              </div>
              
              <div class="form-group col pl-1">
                <label for="address" class="col-form-label">Address</label>
                <textarea class="form-control" id="address" name="address" [(ngModel)]="employee.address"></textarea>
              </div>
              <!-- <div class="form-group col pl-1">
                <label class="col-form-label">Attachments</label>
                <ngx-dropzone (change)="onUploadSuccess($event)" [compress]="true" [maxFileSize]="5000000" [multiple]="true">
                  <ngx-dropzone-label><i class="fas fa-paperclip"></i>Drop any files! (Max 5MB)</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" (click)="saveEmployee(modalCenter, selectedColorTheme)" [ngClass]="[colorTheme[selectedColorTheme].btnTheme]"
            >Save
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#modalCenter" (click)="modal.close('Close click')">Cancel</button>
          </div>
    </ng-template>
</div>

